@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+IT+Moderna:wght@100..400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    color: #27374D;
    font-size: 18px;
}

body{
  background-color: #DDE6ED;
}

/* Start Navigasi */
nav{
  display: flex;
  justify-content: space-between;
  padding: .7em;
  background-color: white;
}

nav .logo{
  display: flex;
}

nav .logo img{
  width: auto;
  height: 50px;
  border-radius: 100px;
}

.navigasi ul{
  display: flex;
  padding: 5px;
  list-style: none;
}

.navigasi li a{
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}

.navigasi li a:hover{
  background-color: #27374D;
  color: white;
  font-weight: bold;
}


.navigasi li {
  margin-right: 10px; /* Menambahkan jarak antar elemen */
}

.navigasi li:last-child {
  margin-right: 0; /* Menghapus margin pada elemen terakhir */
}


.login-register ul{
  display: flex;
  padding: 5px;
  list-style: none;
}

.login-register li a{
  display: flex;
  text-decoration: none;
  background-color: #DDE6ED;
  border-radius: 10px;
  padding: 10px;
}

.login-register a:hover{
  background-color: #27374D;
  color: white;
  font-weight: bold;
}

.login-register li {
  margin-right: 10px; /* Menambahkan jarak antar elemen */
}

.login-register li:last-child {
  margin-right: 0; /* Menghapus margin pada elemen terakhir */
}
/* End Navigasi */




/* Start Pengenalan Femina */
.content-read{
  display: flex;
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.content-read img{
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

#description{
  text-align: justify;
  font-size: 20px;
  padding-top: 0;
  margin: 20px;
}
.content-read .text h1{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}

/* End Pengenalan Femina */



/* Start content-baca */
.cover-goal{
  display: flex;
  justify-content: space-between;
  background-color: #526D82;
  padding: 30px;
  margin: 45px;
  border-radius: 10px;
  height: 300px;
}

.cover-goal .text-goal h1 {
  color: white;
  font-size: 30px;
}

.cover-goal .text-goal p{
  color: white;
  text-align: justify;
  font-size: 20px;
  margin-top: 10px;
  padding-right: 30px;
}

.cover-goal img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}


.content-femina {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  border-radius: 10px;
}

.content-femina .image {
  display: flex;
  mix-blend-mode: multiply;
  object-fit: cover;
  height: auto;
  background-color: #526D82;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

.content-femina .content-text{
  background-color: #DDE6ED;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.content-femina .content-text h1{
  font-size: 30px;
}

.content-femina .content-text p{
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}

/* End content-baca */







/* Start Form */
.container h1{
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 30px;
  color: #526D82;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  flex-wrap: wrap;
  padding: 40px;
}

.container .content form {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  background-color: #526D82;
  box-shadow: 50px 30px 20px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 10px;
}

.container .content fieldset {
  border: none;
  padding: 25px;
}

.content .form-content{
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.content .form-content label {
  font-size: 20px;
  color: white;
  padding: 5px;
}

.content .form-content input {
  margin: 5px;
  padding: 2px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content .checkbox-status {
  padding: 5px;
  padding: 5px;
}
.content .checkbox-status label{
  color: white;
  font-size: 20px;
}


#submit-form {
  background-color: #DDE6ED;
  color: #27374D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  transition: 0.3s;
}

#submit-form:hover{
  cursor: pointer;
  background-color: #27374D;
  color: #DDE6ED;
  font-weight: bolder;
  transition: 0.3s;
}


/* End Form */

/* Start Card Patner */
.card-patner{
  background-color: white;
  color: #27374D;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card-patner h1{
  display: flex;
  justify-content: center;
  color: #27374D;
  font-size: 30px;
  padding: 20px;
}

.logo-patner, .patner-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 170px;
  background-color: rgb(255, 255, 255);
}

.logo-patner img, .patner-image img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  border-radius: 10px;
}

/* End Card Patner */


/* Start Footer */
footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: #27374D;
  font-weight: bold;
  /* border-top: solid #526D82 1px; */
}
/* End Footer */